= form_with(model: @patient, local: true) do |form|
  - if @patient.errors.any?
    #error_explanation
      %h2
        = pluralize(@patient.errors.count, "error")
        prohibited this patient from being saved:
      %ul
        - @patient.errors.full_messages.each do |message|
          %li= message
  = form.fields_for :patient_info do |ff|
    .form-group
      .field
        = ff.label :weight
        %br/
        = ff.select_tag :weight, options_for_select(16..30), class: 'form-control'
    .form-group
      .field
        = ff.label :height
        %br/
        = ff.select_tag :height, options_for_select(16..30), class: 'form-control'
  .actions
    = form.submit "Registrate", class: "btn btn-success"
  %br