= form_with(model: @doctor, local: true) do |form|
  - if @doctor.errors.any?
    #error_explanation
      %h2
        = pluralize(@doctor.errors.count, "error")
        prohibited this doctor from being saved:
      %ul
        - @doctor.errors.full_messages.each do |message|
          %li= message
  .form-group
    .field
      = form.label :first_name
      %br/
      = text_field_tag 'first_name', nil,  placeholder: 'Enter Your first name', maxlength: 20, class: 'form-control'
  .form-group
    .field
      = form.label :last_name
      %br/
      = text_field_tag 'last_name', nil, placeholder: 'Enter Your last name', maxlength: 40, class: 'form-control'
  .form-group
    .field
      = form.label :phone
      %br/
      = text_field_tag :phone, nil, placeholder: '+1-541-754-3010', class: 'form-control'
  = form.fields_for :doctor_info  do |ff|
    .form-group
      .field
        = ff.label :speciality
        %br/
        = text_field_tag :speciality, nil, placeholder: 'Enter your speciality, please', class: 'form-control'
    .form-group
      .field
        = ff.label :success_price
        %br/
        = text_field_tag :success_price, nil, placeholder: 'Enter your price of success project', class: 'form-control'
    .form-group
      .field
        = ff.label :failure_price
        %br/
        = text_field_tag :failure_price, nil, placeholder: 'Enter your price of failure project', class: 'form-control'
  .actions
    = form.submit "Registrate", class: "btn btn-success"
  %br