!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fit
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav{:class => "navbar navbar-dark bg-dark" }
      %form.form-inline>
        %input{  :class => "form-control mr-sm-2", :type => "search", :placeholder => "Search", :aria-label => "Search" }
        / %button{ :class => "btn btn-outline-success my-2 my-sm-0", :type => "submit" } Search
        %ul{ :class => "nav nav-pills nav-fill" }
          %li.nav-item
            = link_to 'Home', pages_home_path, class: "nav-link active"
            / %a{:class=>"nav-link active",  } Home
          %li.nav-item
            %a{ :class=>"nav-link ",  :href=>"#"}Longer nav link
          %li.nav-item
            %a{ :class=>"nav-link ", :href=>"#"}Link
          %li.nav-item
            %a{:class=>"nav-link", :href=>"#"}Disabled
          - if user_signed_in? 
            = link_to 'Sign Out', destroy_user_session_path, class: "nav-link active form-inline pull-xs-right"
          - else
            = link_to 'Sign In', new_user_session_path, class: "nav-link active"
    .container
      = yield
