= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .form-group
    .field
      = form.label :type
      %br/
      = select_tag :type, options_for_select([['Doctor', 'Doctor'], ['Patient', 'Patient']]), class: 'form-control'
  .actions
    = form.submit "Choose", class: "btn btn-success"
  %br
